@model List<GrandRepairAuto.Web.Models.VehicleVM>
<main id="main">

    <section id="vehicles" class="vehicles">

        <h1>Vehicles</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Reg. Plate</th>
                    <th>Vehicle Model</th>
                    <th>VIN</th>
                    <th>Vehicle Type</th>
                    <th>Engine Type</th>
                    <th>Mileage</th>
                    <th>Color</th>
                    <th>Owner</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var vehicle in Model)
                {
                    <tr>
                        <td> @vehicle.RegPlate </td>
                        <td> @vehicle.VehicleModelId </td>
                        <td> @vehicle.Vin </td>
                        <td> @vehicle.VehicleType </td>
                        <td> @vehicle.EngineType </td>
                        <td> @vehicle.Mileage </td>
                        <td> @vehicle.Color </td>
                        <td> @vehicle.OwnerId </td>
                        <td> <a asp-action="Update" asp-route-id="@vehicle.Id"> Update </a></td>
                        <td> <a asp-action="Delete" asp-route-id="@vehicle.Id"> Delete </a></td>


                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary" asp-action="Create">Create vehicle</a>

    </section>

</main>
