@model List<GrandRepairAuto.Web.Models.UserVM>

<section id="users" class="users">

    <h1>Users</h1>

    <table id="usersTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email/Username</th>
                <th>Phone Number</th>
                <th>Roles</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td> @user.FirstName @user.LastName </td>
                    <td> @user.Email </td>
                    <td> @user.PhoneNumber </td>
                    <td> @user.RolesString </td>
                    <td> <a asp-action="Update" asp-route-id="@user.Id"> Update </a></td>
                    <td> <a asp-action="Delete" asp-route-id="@user.Id"> Delete </a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-action="Create">Create user</a>
</section>

@section Scripts
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#usersTable').dataTable();
        });
    </script>
}