@model List<GrandRepairAuto.Web.Models.OrderVM>


<section id="orders" class="order">

    <h1>Orders</h1>

    <table id="ordersTable" class="table table-striped table-bordered dt-responsive nowrap table-hover" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Status</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Vehicle</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Orders"
                           asp-action="Details"
                           asp-route-id="@order.Id">Order @order.Id</a>
                    </td>
                    <td>@order.Status.ToString()</td>
                    <td>@order.Date.ToShortDateString()</td>
                    <td>@order.UserFullName</td>
                    <td>@order.VehicleRegPlate</td>
                    <td><a asp-action="Update" asp-route-id="@order.Id">Update</a></td>
                    <td><a class="click-warn" asp-action="Delete" asp-route-id="@order.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    @if (!User.IsInRole("Customer"))
    {
        <a class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px" asp-action="Create">Create order</a>
    }


</section>

@section Scripts
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ordersTable').dataTable();
        });
    </script>
}

