@model List<GrandRepairAuto.Web.Models.ServiceVM>

<section>
    <h1>Services</h1>
    
    @*<div>
        <select style="float:right" class="form-control-sm" onchange="changeCurrency(this.value)">
            @foreach (var currency in ViewBag.Currencies)
            {
                
                <option value="@currency" selected="selected">@currency</option>
            }
        </select>
    </div>*@
    <table id="serviceDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Service</th>
                <th>Price per hour</th>
                <th>Work hours</th>
                <th>Vehicle type</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td> @service.Name </td>
                    <td> @service.PricePerHour @service.Currency </td>
                    <td> @service.WorkHours h </td>
                    <td> @service.VehicleType.ToString() </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@service.Id"> <i style="font-size: x-large" class='bx bx-edit'></i> </a>
                        <a class="click-warn" asp-action="Delete" asp-route-id="@service.Id"> <i style="font-size: x-large" class='bx bx-trash'></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-action="Create">Create service</a>

</section>

@section Scripts
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#serviceDatatable').dataTable();
        });
    </script>
}