@model List<GrandRepairAuto.Web.Models.ServiceVM>

<section>
    <h1>Services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Price per hour</th>
                <th>Work hours</th>
                <th>Vehicle type</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td> @service.Name </td>
                    <td> @service.PricePerHour </td>
                    <td> @service.WorkHours </td>
                    <td> @service.VehicleType.ToString() </td>
                    <td> <a asp-action="Update" asp-route-id="@service.Id"> Update </a></td>
                    <td> <a asp-action="Delete" asp-route-id="@service.Id"> Delete </a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-action="Create">Create service</a>
</section>