@model GrandRepairAuto.Web.Models.VehicleVM
@using GrandRepairAuto.Data.Enums
@using Newtonsoft.Json

<section>

    <h1>Create new vehicle</h1>

    <form method="post">

        <div class="form-group">
            <label asp-for="OwnerId">Owner</label>
            <select asp-for="OwnerId" type="number" class="form-control" placeholder="Owner">
                <option value="0" selected>Select owner</option>
                @foreach (var m in ViewBag.Owners)
                {
                    <option value="@m.Id">@m.FullName</option>
                }
            </select>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label for="manufacturer">Manufacturer</label>
                <select id="manufacturer" class="form-control" placeholder="Select manufacturer" onchange="onManufacturerChanged(this.value)">
                    <option value="0" selected>Select manufacturer</option>
                    @foreach (var m in ViewBag.Manufacturers)
                    {
                        <option value="@m.Id">@m.Name</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label asp-for="VehicleModelId">Model</label>
                <select asp-for="VehicleModelId" class="form-control" disabled="disabled">
                    <option value="0" selected>Select manufacturer</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label asp-for="VehicleType">Vehicle Type</label>
                <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleTypes>()" class="form-control" placeholder="Vehicle Type"></select>
            </div>
            <div class="col-6">
                <label asp-for="EngineType">Engine Type</label>
                <select asp-for="EngineType" asp-items="Html.GetEnumSelectList<EngineTypes>()" class="form-control" placeholder="Engine Type"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Mileage">Mileage</label>
                <input asp-for="Mileage" type="number" class="form-control" placeholder="Mileage">
            </div>
            <div class="col-6">
                <label asp-for="Color">Color</label>
                <input asp-for="Color" type="text" class="form-control" placeholder="Color">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Vin">VIN</label>
                <input asp-for="Vin" type="text" class="form-control" placeholder="VIN">
            </div>
            <div class="col-6">
                <label asp-for="RegPlate" >Reg Plate</label>
                <input asp-for="RegPlate" pattern="^[ABCEKMHOPTYX]{1,2}[0-9]{4}[ABCEKMHOPTYX]{1,2}$" title="Registration plate must be in format X(X)0000XX" required="required" class="form-control" placeholder="Reg Plate">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button asp-controller="Vehicles" asp-action="Index" class="btn btn-secondary">Cancel</button>
    </form>
    
</section>

<script type="text/javascript">
    var models = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Models));
    function onManufacturerChanged(man) {
        var dd = $('#VehicleModelId');
        dd.prop("disabled", man === 0);
        dd.val(0);
        dd.empty();
        if( man === 0 ) {
            dd.append(new Option("Select manufacturer", "0"));
            return;
        }

        var data = models.filter(m => m.ManufacturerId == man);
        data.forEach(m => dd.append(new Option(m.Name, m.Id)));
    }
</script>